<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chapter {{chapterNo}} Exercise {{exNo}}</title>
  </head>
  <body>
    <h1>Chapter {{chapterNo}}</h1>
    <h2>Exercise {{exNo}}</h2>
    <div>
        <h3>Brief</h3>
        <p>{{briefTxt}}</p>
    </div>
    <div>
        <a href="https://github.com/CIYS7517PPRO/C{{chapterNo}}P{{exNo}}">Github Repository</a>
    </div>
    <div>
        <a href="http://35.185.87.233/static/solutions/c{{chapterNo}}p{{exNo}}">Worked solution</a>
    </div>
  </body>
</html>
